//
//  Shared.xcconfig
//  OnesiteiOS
//
//  Created by Cameron Barrie on 2/09/2014.
//  Copyright (c) 2014 Woolworths. All rights reserved.
//

// main compiler settings
GCC_TREAT_WARNINGS_AS_ERRORS = YES

// CB - let's see how we get on with a pedantic compiler. Discuss with ALL members of the team
// before turning off
GCC_WARN_PEDANTIC = YES

// individual compiler warnings and flags
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_INT_CONVERSION = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
GCC_SYMBOLS_PRIVATE_EXTERN = NO
GCC_DYNAMIC_NO_PIC = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES
GCC_WARN_UNUSED_VARIABLE = YES

// manual compiler overrides
WARNING_CFLAGS = -Wno-variadic-macros -Widiomatic-parentheses -Wno-gnu
